version: '3.7'

services:

  db:
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ../schema_design/db_schema.sql:/docker-entrypoint-initdb.d/db_schema.sql
    environment:
      PGDATA: /tmp
    env_file:
      - ../.env

  backend:
    build: ../movies_admin/.
    command: >
      sh -c ' python manage.py makemigrations &&
      python manage.py migrate &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000'

    # python manage.py makemigrations &&
    # python manage.py migrate movies --fake-initial &&
    # python manage.py migrate &&
    # python manage.py create_superuser &&
    restart: always
    volumes:
      - static_value:/code/static/
    depends_on:
      - db
    env_file:
      - ../.env


  nginx:
    build:
      nginx/.
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_value:/static/
    restart: always
    depends_on:
      - backend


volumes:
  postgres_data:
  static_value:
